# Ignore Python bytecode and cache
__pycache__/
*.py[cod]

# Ignore virtual environments
env/
venv/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore system files (Windows/macOS)
.DS_Store
Thumbs.db

# Ignore IDE/editor settings
.vscode/
.idea/

# Ignore logs or temp files
*.log
*.tmp

# Ignore environment files
.env
